@charset "utf-8";
/* CSS Document */
	#wrap{
		width: 100%;

	}
	.left{

		width: 30%;
		height: 100px;
		background: #AA43F8;
		float: left;

	}
	.right{

		width: 70%;
		height: 100px;
		background: #AA43F8;
		float: right;

	}
	.header{

		width: 70%;
		height: 100px;
		background: #AA43F8;
		float: right;

	}
